<p>Bonjour <%= @user.first_name %>,</p>

<p>Nous sommes très heureux de vous accueillir sur Homepay, le premier outil de
prospection immobilière automatisé. Notre outil va vous envoyer toutes les
annonces sur Le Bon Coin qui répondent à vos critères de recherches, en fonction
des alertes que vous avez prédéfinies.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter sur
  <%= mail_to "contact@homepay.fr" %></p>

<p>Bonne journée,</p>

<p>Guillaume</p>
<p>Fondateur Prosper</p>
