<p style="font-style: EB Garamond;">Bonjour <%= @user.first_name %>,</p>

<p style="font-style: EB Garamond;">Nous sommes très heureux de vous accueillir sur Homepay, le premier outil de
prospection immobilière automatisé. Notre outil va vous envoyer toutes les
annonces sur Le Bon Coin qui répondent à vos critères de recherches, en fonction
des alertes que vous avez prédéfinies.</p>

<p style="font-style: EB Garamond;">Si vous avez des questions, n'hésitez pas à nous contacter sur
  <%= mail_to "contact@helloprosper.fr", "contact@helloprosper.fr", style: 'color: #20E8B6; text-decoration: none' %></p>

<p style="font-style: EB Garamond;">Bonne journée,</p>

<p style="font-style: EB Garamond;">Guillaume, Fondateur <%= link_to "Prosper", "http://www.helloprosper.fr", target: "blank", style: 'color: #20E8B6; font-weight: 800; text-decoration: none' %></p>
